/* GENERAL */

*, html, :root {
    box-sizing: border-box;
    color: hsl(330, 3%, 14%);
}

.body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 7fr;
    background-color: hsla(195, 5%, 51%, 0.1);
    font-family: 'League Spartan', sans-serif;
}

/* HEADER */

.header {
    background-image: url(./images/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}

.header__content {
    margin-top: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 2em;
    z-index: 1000;
}

.header__title {
    font-size: 10vmin;
    color: white;
    font-family: 'Viga', sans-serif;
    
}

.header__icon {
    font-size: 10vmin;
    color: white;

}

.header__text {
    align-self: center;
    font-weight: 600;
    font-size: 2vmin;
    margin-bottom: 2vmin;
    color: white;
    z-index: 1000;
    letter-spacing: .1em;
}
/* MAIN */

.main {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    
}
/* MAIN - TEXT */

.main__text {
    text-align: justify;
    line-height: 1.2em;
    font-size: 3vmin;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    max-width: 900px;
    padding: 2em 1em 0px 4rem;
    
}

.text__paragraph > i {
    font-style: italic;
}

.text__paragraph:nth-of-type(2) {
    margin-top: -1em;
}

/* MAIN - FORM */

.main__form {
    display: flex;
    flex-direction: column;
    gap: .7em;  
}

.form__elements {
    width: 100%;
    padding: 2em 1em 2em 4rem;
    box-shadow: 5px 5px 10px #888888;
    background-color: white;
    
}

.container--form {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 1vmin;
    max-width: 700px;
}

.elements__element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.element__label {
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.element__input {
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid hsl(195, 86%, 10%);
}

.element__input:not(:focus):not(:placeholder-shown):valid {
    border: 2px solid hsl(195, 86%, 40%);
    background-color: hsl(195, 86%, 99%);
}

.element__input:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid hsl(0, 86%, 40%);
    background-color: hsl(0, 86%, 99%);
}

.form__btn {
    width: clamp(100px, 200px, 300px);
    height: clamp(25px, 50px, 75px);
    margin-left: 4rem;
    margin-top: 1.5rem;
    border-radius: 25px;
    border: 0px;
    background-color: hsl(195, 86%, 40%);
    color: white;
    font-size: weight;
    cursor: pointer;
    transition: 400ms;
}

.form__btn:hover {
    background-color: hsl(195, 86%, 30%);
}

.form__btn:active {
    transform: scale(0.95);
    background-color: hsl(195, 86%, 10%);
}

/* MAIN - LOGIN */

.main__login {
    margin-top: -1.5rem;
    margin-left: 4rem;
}
.login__link {
    color: hsl(16, 84%, 40%);
}

/* MEDIA QUERY */

@media (max-width: 950px) {
    .body {
        display: block;
    }

    .header {
        background-image: none;
    }

    .header::after, .header__text {
        display: none;
    }

    .header__content {
        margin-top: 0px;
    }

    .main {
        display: block;
    }

    .main__login {
        margin-top: 1rem;
    }

}